/*
 * spark-eoh-demo
 * Kashev Dalmia - kashev.dalmia@gmail.com
 */

/*
 * COLORS
 */
$hkn-blue  : rgb(0, 111, 164);
$hkn-red   : #C5003F;
$hkn-white : rgb(245, 245, 245);

/*
 * SELECTION
 *  Because this is how you show you care.
 */
::selection      { color : #FFF; background : #000;}
::-moz-selection { color : #FFF; background : #000;}

/*
 * Images at the top of projects
 */

#hkn-image {
  width: 50%;
}

.top-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 75%;
}

/*
 * Header
 */
.bar-nav {
  background: $hkn-red;
  h1{
    color: white;
  }
  .icon {
    color: white;
  }
}
