/*
 * spark-eoh-demo
 * Kashev Dalmia - kashev.dalmia@gmail.com
 */

@import 'main';
/*
 * LEDs
 *  http://codepen.io/Ephibbs/pen/BFgxk
 */
@mixin led($size:20px, $color:#444444) {
  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: #000 0px 0px 1px 0px, $color $size*-0.1 $size*-0.2 $size*0.6 2px inset, 0px 0px $size*0.5 0px $color;
}

.led {
  margin: 0px auto;
  $led-size: 20px;

  &.white {@include led($led-size, $hkn-white);}
  &.red   {@include led($led-size, $hkn-red);}
  &.blue  {@include led($led-size, $hkn-blue);}
  &.off   {@include led($led-size, rgba(40, 40, 40, 0.90));}
}

/*
 * Spark Table
 */
$spark-width: 70%;
$led-width: (100% - $spark-width) / 2;
#spark
{
  .led-col {
    width: $led-width;
  }
  .spark-col {
    width: $spark-width;
    img {
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
